{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="mb-4">Контактная информация</h2>
        
        <div class="card">
            <div class="card-body">
                <div class="mb-4">
                    <h5><i class="bi bi-telephone"></i> Телефон</h5>
                    <p class="lead">+7 (980) 527-68-42</p>
                </div>
                
                <div class="mb-4">
                    <h5><i class="bi bi-envelope"></i> Email</h5>
                    <p class="lead">
                        <a href="mailto:artem.kosygin2008@gmail.com">artem.kosygin2008@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
