{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2 class="mb-4">История задач</h2>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Дата</th>
                        <th>Время выполнения</th>
                    </tr>
                </thead>
                <tbody id="historyTableBody">
                    <!-- JavaScript will populate this -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
